<%- include('../partials/header', { title: "Upload a file" }) %>
<div class="col-12 col-md-11 col-lg-9 col-xl-7">
    <h2 class="fw-bold mb-4 text-uppercase">
        Create a <span class="text-primary">File</span>
    </h2>
    <form action="">
        <label for="formFileMultiple" class="form-label"
            >Multiple files input example</label
        >
        <input
            class="form-control"
            type="file"
            id="formFileMultiple"
            multiple
        />
    </form>
</div>
